apps/cmdline/project/unix/etana.ar
apps/cmdline/project/unix/etana.db.ar
apps/cmdline/project/unix/etyhh.ar
apps/cmdline/project/unix/etyhh.db.ar
apps/cmdline/project/unix/fsc.ar
apps/cmdline/project/unix/fsc.db.ar
apps/cmdline/project/unix/json.ar
apps/cmdline/project/unix/json.db.ar
apps/cmdline/project/unix/proof.ar
apps/cmdline/project/unix/proof.db.ar
apps/cmdline/project/unix/vmetajson
apps/cmdline/project/unix/vmetajson.db
apps/cmdline/vmetajson/

